<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../assets/img/logos/sumateLogox3125.png"
      type="icon"
    />
    <link rel="stylesheet" href="../assets/css/login-css/login-style.css">


    <title>Document</title>
  </head>
  <body>
    <form action="captura_consulting" class="login-form">
    <img src="../assets/img/logos/sumateLogox3125.png" alt="logo Sumate" class="logo-sumate"/>
      <h1 class="login-title">Inicia Sesión</h1>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Usuario"
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña"
      />
      <button type="submit">Acceder</button>
      <p class="message">
      No puede recordar su contraseña?<br>
      <a href="#">Recuperar Contraseña</a>
    </p>
    </form>
    
  </body>
</html>
