<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../assets/img/logos/sumateLogox3125.png"
      type="icon"
    />

    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="../assets/css/projects-list-css/project-list.css"
    />

    <title>Súmate | Proyectos</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="logo-sumate-header">
          <img
            src="../assets/img/logos/sumateLogox3125.png"
            alt="Logo de Sumate"
          />
        </div>
        <nav class="navbar-container">
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../templates/projects-lists.html">Proyectos</a></li>
            <li><a href="#">Información</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="../templates/register.html">Registrarse</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="projects">
      <div class="projects-wrapper">
        <div class="projects-header">
          <h2 class="projects-title">Proyectos</h2>

          <label class="projects-filter">
            <span class="filter-label">Categoría</span>
            <select class="filter-select" name="categoria">
              <option value="todas">Todas</option>
              <option value="social">Social</option>
              <option value="cultural">Cultural</option>
              <option value="tecnologia">Tecnología</option>
              <option value="medio-ambiente">Medio ambiente</option>
              <option value="educacion">Educación</option>
              <option value="salud">Salud</option>
              <option value="animales">Animales</option>
            </select>
          </label>
        </div>

        <div class="projects-grid">
          <article class="card">
            <figure class="card-media">
              <img
                src="../assets/img/fotosRefugio/foto3.jpeg"
                alt="Refugio Huella Animal"
              />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Refugio Huella Animal</h3>
              <p class="card-text">Ayudá a los animalitos de la calle.</p>
              <a href="projects-details.html">
                <button class="card-btn">Donar Ahora</button>
              </a>

              <!-- PREGUNTAR AL INGE...
               <a href="projects-details.html" class="card-btn">Donar Ahora</a>
              css:
              .card-btn {
              display: block;
              text-align: center;
              text-decoration: none;
              background: #f47f11;
              color: #fff;
              padding: 10px 12px;
              border-radius: 6px;
              font-size: 14px;
              }
              -->
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Tejidos Artesanales" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Tejidos Artesanales</h3>
              <p class="card-text">
                Apoyo a artesanos para la nueva colección.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Esterilización" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Esterilización</h3>
              <p class="card-text">
                Campañas para reducir la sobrepoblación canina.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Huerto Comunitario" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Huerto Comunitario</h3>
              <p class="card-text">Alimentos frescos para el barrio.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>
          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Refugio Patitas" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">¡El Cafecito de Juan!</h3>
              <p class="card-text">Ayudá a Juan a comprar la nueva cafetera.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Tejidos Artesanales" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Tejidos Artesanales</h3>
              <p class="card-text">
                Apoyo a artesanos para la nueva colección.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Esterilización" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Esterilización</h3>
              <p class="card-text">
                Campañas para reducir la sobrepoblación canina.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Huerto Comunitario" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Huerto Comunitario</h3>
              <p class="card-text">Alimentos frescos para el barrio.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>
          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Refugio Patitas" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">¡El Cafecito de Juan!</h3>
              <p class="card-text">Ayudá a Juan a comprar la nueva cafetera.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Tejidos Artesanales" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Tejidos Artesanales</h3>
              <p class="card-text">
                Apoyo a artesanos para la nueva colección.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Esterilización" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Esterilización</h3>
              <p class="card-text">
                Campañas para reducir la sobrepoblación canina.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Huerto Comunitario" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Huerto Comunitario</h3>
              <p class="card-text">Alimentos frescos para el barrio.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>
          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Refugio Patitas" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">¡El Cafecito de Juan!</h3>
              <p class="card-text">Ayudá a Juan a comprar la nueva cafetera.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Tejidos Artesanales" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Tejidos Artesanales</h3>
              <p class="card-text">
                Apoyo a artesanos para la nueva colección.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Esterilización" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Esterilización</h3>
              <p class="card-text">
                Campañas para reducir la sobrepoblación canina.
              </p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>

          <article class="card">
            <figure class="card-media">
              <img src="../assets/img/dog.jpg" alt="Huerto Comunitario" />
            </figure>
            <div class="card-body">
              <h3 class="card-title">Huerto Comunitario</h3>
              <p class="card-text">Alimentos frescos para el barrio.</p>
              <button class="card-btn">Donar Ahora</button>
            </div>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>
